<#@ template language="C#" linePragmas="false" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".cs" #>

public class <#= m_data.ClassName #>
{
    public <#= m_data.ClassName #>()
    {
    }

    // 複数行
    <#
    var line = 0;
    while(line < 5)
    {
        line++;
    #>
    private int a<#= line #>;
    <#
    }
    #>
}